body {
  margin: 0;
  display: flex;
  justify-content: center;

  padding: 62px 82px 0px 62px;

  /* background-color:rgba(156, 188, 210, 0.1); */
}

#root {
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}